<div class="jumbotron">
    <h1><%= __('userdashboardtitle') %></h1>
    <p><%= __('userdashboarddescription') %></p>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= req.url == '/user/panel' ? 'active' : ''  %>" href="/user/panel"><%= __('userinfo') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= req.url == '/user/panel/history' ? 'active' : ''  %>" href="/user/panel/history"><%= __('paymentstatus') %></a>
    </li>
    <% console.log(req.url) %>
    <li class="nav-item">
      <a class="nav-link <%= req.url == '/user/panel/vip' ? 'active' : ''  %>" href="/user/panel/vip"><%= __('viptopup') %></a>
    </li>
  </ul>